<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 근거리 공유용 Bonjour 서비스. NSLocalNetworkUsageDescription은 pbxproj의 INFOPLIST_KEY로 제공됨. -->
	<key>NSBonjourServices</key>
	<array>
		<string>_dounlock-share._tcp</string>
		<string>_dounlock-share._udp</string>
	</array>
	<key>Privacy - Photo Library Usage Desciption</key>
	<string></string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
	</array>
</dict>
</plist>
